/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body{
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    background-color: #ffffff!important
}

.btn{
margin:5px;
}

.landing-page{
    background-size: cover;
    color: #ffffff;
}
.wrapper{
    height: 100%;
}